.navburger {
  position: relative;
}
.close-off-canvas {
  position: absolute;
}
.navburger-line,
.nav,
.main {
  -webkit-backface-visibility: hidden;
}
.nav abbr.oslc-name {
  font-size: 32px;
  font-size: 2rem;
}
@media only screen and (min-width: 40.0625em) {
  .knee-1 {
    width: 8.33333%;
  }
  .flexbox .knee-1 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
  }
  .knee-2 {
    width: 16.66667%;
  }
  .flexbox .knee-2 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
  }
  .knee-3 {
    width: 25%;
  }
  .flexbox .knee-3 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }
  .knee-4 {
    width: 33.33333%;
  }
  .flexbox .knee-4 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
  }
  .knee-5 {
    width: 41.66667%;
  }
  .flexbox .knee-5 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
  }
  .knee-6 {
    width: 50%;
  }
  .flexbox .knee-6 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  .knee-7 {
    width: 58.33333%;
  }
  .flexbox .knee-7 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
  }
  .knee-8 {
    width: 66.66667%;
  }
  .flexbox .knee-8 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
  }
  .knee-9 {
    width: 75%;
  }
  .flexbox .knee-9 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
  }
  .knee-10 {
    width: 83.33333%;
  }
  .flexbox .knee-10 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
  }
  .knee-11 {
    width: 91.66667%;
  }
  .flexbox .knee-11 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
  }
  .knee-12 {
    width: 100%;
  }
  .flexbox .knee-12 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}
@media only screen and (min-width: 40.0625em) and (max-width: 64em) {
  .hand-only,
  .desk-up,
  .desk-only,
  .workstation-up,
  .workstation-only,
  .neckbeard-up,
  .neckbeard-only {
    display: none !important;
  }
}
@media only screen and (min-width: 64.0625em) {
  .desk-1 {
    width: 8.33333%;
  }
  .flexbox .desk-1 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
  }
  .desk-2 {
    width: 16.66667%;
  }
  .flexbox .desk-2 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
  }
  .desk-3 {
    width: 25%;
  }
  .flexbox .desk-3 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }
  .desk-4 {
    width: 33.33333%;
  }
  .flexbox .desk-4 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
  }
  .desk-5 {
    width: 41.66667%;
  }
  .flexbox .desk-5 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
  }
  .desk-6 {
    width: 50%;
  }
  .flexbox .desk-6 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  .desk-7 {
    width: 58.33333%;
  }
  .flexbox .desk-7 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
  }
  .desk-8 {
    width: 66.66667%;
  }
  .flexbox .desk-8 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
  }
  .desk-9 {
    width: 75%;
  }
  .flexbox .desk-9 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
  }
  .desk-10 {
    width: 83.33333%;
  }
  .flexbox .desk-10 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
  }
  .desk-11 {
    width: 91.66667%;
  }
  .flexbox .desk-11 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
  }
  .desk-12 {
    width: 100%;
  }
  .flexbox .desk-12 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}
@media only screen and (min-width: 64.0625em) and (max-width: 90em) {
  .hand-only,
  .knee-only,
  .workstation-up,
  .workstation-only,
  .neckbeard-up,
  .neckbeard-only {
    display: none !important;
  }
}
@media only screen and (min-width: 90.0625em) {
  .workstation-1 {
    width: 8.33333%;
  }
  .flexbox .workstation-1 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
  }
  .workstation-2 {
    width: 16.66667%;
  }
  .flexbox .workstation-2 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
  }
  .workstation-3 {
    width: 25%;
  }
  .flexbox .workstation-3 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }
  .workstation-4 {
    width: 33.33333%;
  }
  .flexbox .workstation-4 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
  }
  .workstation-5 {
    width: 41.66667%;
  }
  .flexbox .workstation-5 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
  }
  .workstation-6 {
    width: 50%;
  }
  .flexbox .workstation-6 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  .workstation-7 {
    width: 58.33333%;
  }
  .flexbox .workstation-7 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
  }
  .workstation-8 {
    width: 66.66667%;
  }
  .flexbox .workstation-8 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
  }
  .workstation-9 {
    width: 75%;
  }
  .flexbox .workstation-9 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
  }
  .workstation-10 {
    width: 83.33333%;
  }
  .flexbox .workstation-10 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
  }
  .workstation-11 {
    width: 91.66667%;
  }
  .flexbox .workstation-11 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
  }
  .workstation-12 {
    width: 100%;
  }
  .flexbox .workstation-12 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}
@media only screen and (min-width: 90.0625em) and (max-width: 120em) {
  .hand-only,
  .knee-only,
  .desk-only,
  .neckbeard-up,
  .neckbeard-only {
    display: none !important;
  }
}
@media only screen and (min-width: 120.0625em) {
  .neckbeard-1 {
    width: 8.33333%;
  }
  .flexbox .neckbeard-1 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
  }
  .neckbeard-2 {
    width: 16.66667%;
  }
  .flexbox .neckbeard-2 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
  }
  .neckbeard-3 {
    width: 25%;
  }
  .flexbox .neckbeard-3 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }
  .neckbeard-4 {
    width: 33.33333%;
  }
  .flexbox .neckbeard-4 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
  }
  .neckbeard-5 {
    width: 41.66667%;
  }
  .flexbox .neckbeard-5 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
  }
  .neckbeard-6 {
    width: 50%;
  }
  .flexbox .neckbeard-6 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  .neckbeard-7 {
    width: 58.33333%;
  }
  .flexbox .neckbeard-7 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
  }
  .neckbeard-8 {
    width: 66.66667%;
  }
  .flexbox .neckbeard-8 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
  }
  .neckbeard-9 {
    width: 75%;
  }
  .flexbox .neckbeard-9 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
  }
  .neckbeard-10 {
    width: 83.33333%;
  }
  .flexbox .neckbeard-10 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
  }
  .neckbeard-11 {
    width: 91.66667%;
  }
  .flexbox .neckbeard-11 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
  }
  .neckbeard-12 {
    width: 100%;
  }
  .flexbox .neckbeard-12 {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}
@media only screen and (min-width: 120.0625em) {
  .hand-only,
  .knee-only,
  .desk-only,
  .workstation-only {
    display: none !important;
  }
}
.navburger {
  display: block;
  padding: 20px 10px;
  padding: 1.25rem 0.625rem;
  background: #fff;
  border: 0;
  opacity: 0.75;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.navburger:hover {
  opacity: 1;
}
.navburger-line,
.navburger-line.top,
.navburger-line.bottom {
  display: block;
  background: #ccc;
  border-radius: 3px;
  height: 5.71429px;
  height: 0.35714rem;
  width: 40px;
  width: 2.5rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navburger-line.middle {
  -webkit-transition-delay: 0.13333s;
  transition-delay: 0.13333s;
}
.navburger-line.top,
.navburger-line.bottom {
  position: absolute;
  content: "";
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform-origin: 2.85714px center;
  -ms-transform-origin: 2.85714px center;
  transform-origin: 2.85714px center;
}
.navburger-line.top {
  top: 10px;
  top: 0.625rem;
}
.navburger-line.bottom {
  bottom: 10px;
  bottom: 0.625rem;
}
.primary-nav-is-open .navburger > .middle {
  -webkit-transform: translate(100%, 0) translateZ(0);
  -ms-transform: translate(100%, 0) translateZ(0);
  transform: translate(100%, 0) translateZ(0);
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.primary-nav-is-open .navburger > .top,
.primary-nav-is-open .navburger > .bottom {
  -webkit-transition-delay: 0.13333s;
  transition-delay: 0.13333s;
}
.primary-nav-is-open .navburger > .top {
  -webkit-transform: translateZ(0) rotate(37deg);
  -ms-transform: translateZ(0) rotate(37deg);
  transform: translateZ(0) rotate(37deg);
}
.primary-nav-is-open .navburger > .bottom {
  -webkit-transform: translateZ(0) rotate(-37deg);
  -ms-transform: translateZ(0) rotate(-37deg);
  transform: translateZ(0) rotate(-37deg);
}
body > .header {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  max-height: 100px;
}
@media only screen and (min-width: 64.0625em) {
  body > .header {
    max-height: 0;
    opacity: 0;
    padding: 0;
  }
}
@media only screen and (min-width: 40.0625em) {
  .off-canvas-wrap {
    -webkit-backface-visibility: hidden;
    position: relative;
    overflow: hidden;
  }
}
.nav {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.28s;
  transition-delay: 0.28s;
}
.nav .items > .item:nth-child(7) {
  -webkit-transition-delay: 0.04s;
  transition-delay: 0.04s;
}
.nav .items > .item:nth-child(6) {
  -webkit-transition-delay: 0.08s;
  transition-delay: 0.08s;
}
.nav .items > .item:nth-child(5) {
  -webkit-transition-delay: 0.12s;
  transition-delay: 0.12s;
}
.nav .items > .item:nth-child(4) {
  -webkit-transition-delay: 0.16s;
  transition-delay: 0.16s;
}
.nav .items > .item:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.nav .items > .item:nth-child(2) {
  -webkit-transition-delay: 0.24s;
  transition-delay: 0.24s;
}
.nav .items > .item:nth-child(1) {
  -webkit-transition-delay: 0.28s;
  transition-delay: 0.28s;
}
.nav .item {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.33s;
  transition-duration: 0.33s;
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform: translate(-100%);
  -ms-transform: translate(-100%);
  transform: translate(-100%);
}
@media only screen and (min-width: 40.0625em) {
  .nav .item {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@media only screen and (min-width: 40.0625em) {
  .nav {
    max-height: none !important;
    width: 320px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: #fff;
    overflow-y: auto;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
}
@media only screen and (min-width: 40.0625em) and (max-width: 64em) {
  .nav {
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.nav .logo-text {
  margin-left: 0;
  text-align: center;
}
.nav abbr.oslc-name,
.nav .project-name {
  display: block;
}
.nav abbr.oslc-name {
  margin-top: 10px;
  margin-top: 0.625rem;
  letter-spacing: 8px;
  letter-spacing: 0.5rem;
}
.nav .project-name {
  margin-bottom: 11px;
}
.primary .item > a {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media only screen and (min-width: 40.0625em) {
  .main {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    padding-left: 16px;
    padding-left: 1rem;
    padding-right: 16px;
    padding-right: 1rem;
  }
}
@media only screen and (min-width: 64.0625em) {
  .main {
    margin-left: 320px;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
}
.close-off-canvas {
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
}
.primary-nav-is-open .nav {
  max-height: 500px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
@media only screen and (min-width: 40.0625em) {
  .primary-nav-is-open .nav {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
}
@media only screen and (min-width: 40.0625em) and (max-width: 64em) {
  .primary-nav-is-open .nav {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.primary-nav-is-open .nav .items > .item:nth-child(1) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.primary-nav-is-open .nav .items > .item:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.primary-nav-is-open .nav .items > .item:nth-child(3) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.primary-nav-is-open .nav .items > .item:nth-child(4) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.primary-nav-is-open .nav .items > .item:nth-child(5) {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.primary-nav-is-open .nav .items > .item:nth-child(6) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.primary-nav-is-open .nav .items > .item:nth-child(7) {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
.primary-nav-is-open .nav .item {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
@media only screen and (min-width: 40.0625em) {
  .primary-nav-is-open .main {
    -webkit-transform: translate(320px, 0);
    -ms-transform: translate(320px, 0);
    transform: translate(320px, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    position: relative;
  }
}
@media only screen and (min-width: 40.0625em) and (max-width: 64em) {
  .primary-nav-is-open .close-off-canvas {
    bottom: 0;
    opacity: 1;
  }
}
@media only screen and (min-width: 40.0625em) {
  .card > .header,
  .card > .body {
    padding-left: 20px;
    padding-left: 1.25rem;
    padding-right: 20px;
    padding-right: 1.25rem;
  }
}
@media only screen and (min-width: 64.0625em) {
  .card > .header > .title {
    font-size: 32px;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 40em) {
  .copy > h6 {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.46154;
  }
}
@media only screen and (max-width: 40em) {
  .copy > h5 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.1875;
  }
}
@media only screen and (max-width: 40em) {
  .copy > h4 {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.21053;
  }
}
@media only screen and (max-width: 40em) {
  .copy > h3 {
    font-size: 23px;
    font-size: 1.4375rem;
    line-height: 1.17391;
  }
}
@media only screen and (max-width: 40em) {
  .copy > h2 {
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 1.18519;
  }
}
@media only screen and (max-width: 40em) {
  .copy > h1 {
    font-size: 32px;
    font-size: 2rem;
    line-height: 1.1875;
  }
}
@media only screen and (max-width: 40em) {
  .copy > .godzilla {
    font-size: 38px;
    font-size: 2.375rem;
  }
}

.menu .current a {
  font-weight: 700;
}
