h2 basics 

.grid.test
  .column.hand-3
    p 3 of 12
  .column.hand-3
    p 3 of 12 
  .column.hand-3
    p 3 of 12
  .column.hand-3
    p 3 of 12 (last) and this one has a lot more content look at it go! whee!

.grid.test
  .column.hand-3
    p 3 of 12
  .column.hand-9
    p 9 of 12

.grid.test
  .column.hand-6
    p 6 of 12
  .column.hand-6
    p 6 of 12

.grid.test
  .column.hand-8
    p 8 of 12
  .column.hand-4
    p 4 of 12


h2 Too many in a row!!

p You should see the same behaviors here in all browsers, but they get there different ways.
ul
  li <b>Grade A browsers</b> will have 4 in 1 row, with 1 falling over
  li <b>Firefox (v27 and down)</b> supports the basics of Flexbox, but doesn't support multi-row (flex-wrap) so it must to be lumped into the Grade-C browsers in this case. This is to support the responsive overrides
  li <b>Grade C browsers</b> will have 4 in 1 row, with 1 falling over
  

.grid.test
  .column.hand-3
    p 3 of 12
  .column.hand-3
    p 3 of 12 
  .column.hand-3
    p 3 of 12
  .column.hand-3
    p 3 of 12 (last) and this one has a lot more content look at it go! whee!
  .column.hand-3
    p 3 of 12


h2 Responsive classes
p We're mobile first. Start with <code>.hand-3</code>

.grid.test
  .column.hand-12
    p 12/12 hand
  .column.hand-12
    p 12/12 hand
  .column.hand-12
    p 12/12 hand
  .column.hand-12
    p 12/12 hand


p now add .knee-# classes

.grid.test
  .column.hand-12.knee-6
    p 12/12 mobile, 6/12 knee 
  .column.hand-12.knee-6
    p 12/12 mobile, 6/12 knee 
  .column.hand-12.knee-6
    p 12/12 mobile, 6/12 knee 
  .column.hand-12.knee-6
    p 12/12 mobile, 6/12 knee 

p now add .desk-# classes

.grid.test
  .column.hand-12.knee-6.desk-3
    p 12/12 mobile, 6/12 knee, 3/12 desk
  .column.hand-12.knee-6.desk-3
    p 12/12 mobile, 6/12 knee, 3/12 desk
  .column.hand-12.knee-6.desk-3
    p 12/12 mobile, 6/12 knee, 3/12 desk
  .column.hand-12.knee-6.desk-3
    p 12/12 mobile, 6/12 knee, 3/12 desk

p now add .workstation-# classes

.grid.test
  .column.hand-12.knee-6.desk-3.workstation-1
    p 12/12 mobile, 6/12 knee, 3/12 desk, 1/12 workstation
  .column.hand-12.knee-6.desk-3.workstation-1
    p 12/12 mobile, 6/12 knee, 3/12 desk, 1/12 workstation
  .column.hand-12.knee-6.desk-3.workstation-1
    p 12/12 mobile, 6/12 knee, 3/12 desk, 1/12 workstation
  .column.hand-12.knee-6.desk-3.workstation-1
    p 12/12 mobile, 6/12 knee, 3/12 desk, 1/12 workstation
  .column.hand-12.knee-6.desk-3.workstation-1
    p 12/12 mobile, 6/12 knee, 3/12 desk, 1/12 workstation
  .column.hand-12.knee-6.desk-3.workstation-1
    p 12/12 mobile, 6/12 knee, 3/12 desk, 1/12 workstation
  .column.hand-12.knee-6.desk-3.workstation-1
    p 12/12 mobile, 6/12 knee, 3/12 desk, 1/12 workstation
  .column.hand-12.knee-6.desk-3.workstation-1
    p 12/12 mobile, 6/12 knee, 3/12 desk, 1/12 workstation
  .column.hand-12.knee-6.desk-3.workstation-1
    p 12/12 mobile, 6/12 knee, 3/12 desk, 1/12 workstation
  .column.hand-12.knee-6.desk-3.workstation-1
    p 12/12 mobile, 6/12 knee, 3/12 desk, 1/12 workstation
  .column.hand-12.knee-6.desk-3.workstation-1
    p 12/12 mobile, 6/12 knee, 3/12 desk, 1/12 workstation
  .column.hand-12.knee-6.desk-3.workstation-1
    p 12/12 mobile, 6/12 knee, 3/12 desk, 1/12 workstation


    
h2 nested

p should just work

.grid.test
  .column.hand-6
    p 1 of 2
    .grid
      .column.hand-6
        p 1 of 2
      .column.hand-6 
        p 1 of 2
  .column.hand-6
    p 1 of 2
    .grid
      .column.hand-6
        p 1 of 2
      .column.hand-6
        p 1 of 2
        
h2 collapsed
p because sometimes you don't want to deal with the neg margins and gutters

.grid.test.collapsed
  .column.hand-6
    p 1 of 2
  .column.hand-6
    p 1 of 2

h2 collapsed and nested
p sorry! gotta put <code>.collapsed</code> on every nested <code>.grid</code>
p otherwise <abbr title="Cascading Style Sheets">CSS</abbr> inheritance get out of control quickly
.grid.test.collapsed
  .column.hand-6
    p 1 of 2
    .grid.collapsed
      .column.hand-6
        p 1 of 2
      .column.hand-6
        p 1 of 2
  .column.hand-6
    p 1 of 2
    .grid.collapsed
      .column.hand-6
        p 1 of 2
      .column.hand-6
        p 1 of 2

h2 relaxed
p double gutters

.grid.test.relaxed
  .column.hand-6
    p 1 of 2
  .column.hand-6
    p 1 of 2

h2 divided

.grid.test.divided
  .column.hand-2
    p 1 of 6
  .column.hand-2
    p 1 of 6
  .column.hand-2
    p 1 of 6
  .column.hand-2
    p 1 of 6
  .column.hand-2
    p 1 of 6
  .column.hand-2
    p 1 of 6



h2 "blocks"

p 
 b (Grade A Browsers only) 
 | With <code>.blocks</code>, columns will be equal height automatically through the power of Flexbox

.grid.test.blocks
  .column.hand-6 
    div just put some stuff here
  .column.hand-6 
    div just put some stuff here but this one is extra long but look at the other ones they're all the same size!

.grid.test.blocks
  .column.hand-3 
    div just put some stuff here
  .column.hand-3 
    div just put some stuff here but this one is extra long but look at the other ones they're all the same size!
  .column.hand-3 
    div just put some stuff here
  .column.hand-3 
    div just put some stuff here but this one is extra long but look at the other ones they're all the same size but this one is even longer and its really out of control
