.card {
  background-color: $card-bg;
  max-width: 50em;
  border-top: 3px solid shade( $accent-color, 45% );
  box-shadow: 1px 1px 0 tint($base-color, 70%),
              2px 2px 0 tint($base-color, 70%),
              3px 3px 0 tint($base-color, 70%);

  > .header {
    background-color: shade( $accent-color, 30% );
    @include rem(padding, 10px $card-padding-sides 11px);
    @include rem(margin-bottom, 16px);
    
    > .title {
      margin: 0;
      @extend %text-size-xxl;
      color: #fff;
      line-height: 1.05;
    }
  }
  
  > .content {
    @include rem(padding, 8px $card-padding-sides);
  }

}
