/*
 * Body Copy
 */

.copy {
  line-height: $copy-line-height-knee-up;
  
  // Eliminate possible top margin
  > *:first-child {
    margin-top: 0;
  }
  
  // Eliminate possible bottom margin on last child
  > *:last-child {
    margin-bottom: 0;
  }

  
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    font-weight: 500; // semibold
    margin-top: 1em;
    margin-bottom: 0.6em;
    
    //
    // Inline subheads
    // use <small> in the heading. Done!
    //
    > small {
      color: #777;
      vertical-align: baseline;
      font-size: 0.7071em;
    }
  }
  
  //
  // BASIC HEADINGS
  //
  > h6 {
    @extend %text-size-m;
    line-height: $font-size-l / $font-size-m;
  }
  
  > h5 {
    @extend %text-size-l;
    line-height: $font-size-xl / $font-size-l;
  }
  
  > h4 {
    @extend %text-size-xl;
    line-height: $font-size-xxl / $font-size-xl;
  }
  
  > h3 {
    @extend %text-size-xxl;
    line-height: $font-size-xxxl / $font-size-xxl;
  }
  
  > h2 {
    @extend %text-size-xxxl;
    line-height: $font-size-xxxxl / $font-size-xxxl;
  }
  
  > h1 {
    @extend %text-size-xxxxl;
    line-height: $font-size-xxxxxl / $font-size-xxxxl;
  }
  
  > .godzilla {
    @extend %text-size-xxxxxl;
    line-height: 1.05;
  }
  
  > p {
    @extend %copy-margins;
  }
    
  > table {
    @extend %copy-margins;
    @extend %table;
  }
  
  > .fluid-video {
    @extend %copy-margins;
  }
  
  //
  // ORDERED & UNORDERED LISTS
  // 
  // Careful! Don't want to get too specific with these.
  //
  > ul,
  > ol {
    // keep this to direct children only
    @extend %copy-margins;
    
    // reduce the default indentation
    @include rem(padding-left, 24px);

    // affects all children ol/ul
    ol, ul {
      @include rem(padding-left, 24px);
    }
  } 

  // some extra spacing between list items
  // be careful here, this selector might come back to bite you
  li { 
     @include rem(margin-bottom, 6px); 
     @include rem(margin-top, 6px); 
  }
   
  // may also regret this one
  a {
    color: darken($accent-color, 50%);
  }
}