/*
 * "Knee" classes
 */
@include respond-to( knee-up ) {

  @for $i from 1 through $grid-total-columns {
    $width: $i / $grid-total-columns * 100%;
  
    .knee-#{$i} {
      width: $width;
    
      .flexbox & { 
        width: auto;
        flex: 0 0 $width;
      }
  
    }
  }

}

@include respond-to(knee-only) {

  .hand-only,
  .desk-up,
  .desk-only,
  .workstation-up,
  .workstation-only,
  .neckbeard-up,
  .neckbeard-only {
    display: none !important;
  }
}

/*
 * "Desk" classes
 */
@include respond-to( desk-up ) {

  @for $i from 1 through $grid-total-columns {
    $width: $i / $grid-total-columns * 100%;
  
    .desk-#{$i} {
      width: $width;
    
      .flexbox & { 
        width: auto;
        flex: 0 0 $width;
      }
  
    }
  }

}

@include respond-to(desk-only) {

  .hand-only,
  .knee-only,
  .workstation-up,
  .workstation-only,
  .neckbeard-up,
  .neckbeard-only {
    display: none !important;
  }
}


/*
 * "Workstation" classes
 */
@include respond-to( workstation-up ) {

  @for $i from 1 through $grid-total-columns {
    $width: $i / $grid-total-columns * 100%;
  
    .workstation-#{$i} {
      width: $width;
    
      .flexbox & { 
        width: auto;
        flex: 0 0 $width;
      }
  
    }
  }

}

@include respond-to(workstation-only) {

  .hand-only,
  .knee-only,
  .desk-only,
  .neckbeard-up,
  .neckbeard-only {
    display: none !important;
  }
}


/*
 * "Neckbeard" classes
 */
@include respond-to( neckbeard-up ) {

  @for $i from 1 through $grid-total-columns {
    $width: $i / $grid-total-columns * 100%;
  
    .neckbeard-#{$i} {
      width: $width;
    
      .flexbox & { 
        width: auto;
        flex: 0 0 $width;
      }
  
    }
  }

}

@include respond-to(neckbeard-only) {

  .hand-only,
  .knee-only,
  .desk-only,
  .workstation-only {
    display: none !important;
  }
}
