/**
 * Define the ranges
 * Borrowed the idea shamelessly from http://foundation.zurb.com/docs/media-queries.html
 * Modified with some different terms
 */
$hand-range: ( 0em, 40em ); // 0–640px
$knee-range: ( 641/16 * 1em, 64em ); // 641-1024px
$desk-range: ( 1025/16 * 1em, 90em ); // 1025-1440px
$workstation-range: ( 1441/16 * 1em, 120em ); // 1441-1920px
$neckbeard-range: ( 1921/16 * 1em ); // 1921px


//
// @functions
//

@function lower-bound($range){
  @if length($range) <= 0 {
    @return 0;
  }
  @return nth($range,1);
}

@function upper-bound($range) {
  @if length($range) < 2 {
    @return 999999999999;
  }
  @return nth($range, 2);
}


/**
 * Set up some Media Queries
 */
$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$hand-up: $screen !default;
$hand-only: "#{$screen} and (max-width: #{upper-bound($hand-range)})" !default;

$knee-up: "#{$screen} and (min-width:#{lower-bound($knee-range)})";
$knee-only: "#{$screen} and (min-width:#{lower-bound($knee-range)}) and (max-width:#{upper-bound($knee-range)})" !default;

$desk-up: "#{$screen} and (min-width:#{lower-bound($desk-range)})" !default;
$desk-only: "#{$screen} and (min-width:#{lower-bound($desk-range)}) and (max-width:#{upper-bound($desk-range)})" !default;

$workstation-up: "#{$screen} and (min-width:#{lower-bound($workstation-range)})" !default;
$workstation-only: "#{$screen} and (min-width:#{lower-bound($workstation-range)}) and (max-width:#{upper-bound($workstation-range)})" !default;

$neckbeard-up: "#{$screen} and (min-width:#{lower-bound($neckbeard-range)})" !default;
$neckbeard-only: $neckbeard-up;


/**
 * Mixin for bubbling up media queries
 * Syntax sugar for the MQs defined above
 * 
 * See:
 *  - http://css-tricks.com/media-queries-sass-3-2-and-codekit/
 *  - http://jeffcroft.com/blog/2012/mar/02/implementing-responsive-design/
 */
@mixin respond-to($point) {

  @if $point == landscape {
    @media #{$landscape} { @content; }
  }

  @if $point == portrait {
    @media #{$portrait} { @content; }
  }
  
  @if $point == hand-up {
    @media #{$hand-up} { @content; }
  }

  @if $point == hand-only {
    @media #{$hand-only} { @content; }
  }
  
  @if $point == knee-up {
    @media #{$knee-up} { @content }
  }
  
  @if $point == knee-only {
    @media #{$knee-only} { @content; }
  }
  
  @if $point == desk-up {
    @media #{$desk-up} { @content; }
  }
  
  @if $point == desk-only {
    @media #{$desk-only} { @content; }
  }

  @if $point == workstation-up {
    @media #{$workstation-up} { @content; }
  }
  
  @if $point == workstation-only {
    @media #{$workstation-only} { @content; }
  }

  @if $point == neckbeard-up {
    @media #{$neckbeard-up} { @content; }
  }
  
  @if $point == neckbeard-only {
    @media #{$neckbeard-only} { @content; }
  }
  
  // alternate syntax for Bourbon HiDPI
  @if $point == retina {
    @include hidpi(1.3) { @content };
  }

}

