//$prefix-for-mozilla:   false;
//$prefix-for-opera:     false;

$base-color: #333;
$accent-color: #b5d5ff;


//
// Type sizes
//
// http://24ways.org/2011/composing-the-new-canon/
// unison; minor third; diminished fifth; major sixth; octave
//

$font-size-xs:      11px; // Diminished Fifth; 16px * 70.71%
$font-size-s:       13px; // 5:6 Minor Third; 16px * 83.33%
$font-size-m:       16px; // Unison (base); 
$font-size-l:       19px; // 5:6 Minor Third; 16px * 120%
$font-size-xl:      23px; // 1:1.441 Diminished Fifth; 16px * 141%
$font-size-xxl:     27px; // 3:5 Major Sixth; 16px * 166.67%
$font-size-xxxl:    32px; // 1:2 Octave; 16px * 200%
$font-size-xxxxl:   38px; // 5:6 Minor Third; 32px * 120%
$font-size-xxxxxl:  48px; // 1:3 Major Twelfth; 16px * 300%

$hand-font-size: $font-size-s; 
$knee-font-size: $font-size-m; 
$base-font-size: $font-size-m; 


//
// Grid settings
//

$grid-total-columns: 12;
$grid-gutter: 2 * $base-font-size;


//
// Header-nav settings
//

$header-and-nav-bg: #fff;
$navburger-size: 40px;
$navburger-transition-time: .2s;
$navburger-rotation: 37deg;
$main-menu-width: 250px;
$main-menu-slide-duration: .2s;
$total-items: 7;
$item-slide-duration: 0.04s;
$main-menu-current-item-bg: #f1f1f1;


//
// Cards
// 

$card-bg: #fff;
$card-padding-sides: 16px;


//
// Tables
// 
$table-header-bg: #fafafa;
$table-border-color: #ccc;


//
// Body Copy
//

$copy-line-height-hand: 1.4615; // 19px/13px
$copy-line-height-knee-up: 1.4375; // 23px/16px
%copy-margins { margin-bottom: 1em; margin-top: 0; }