%table {
  width: 100%;
  padding: 0;
  border-collapse: separate;
  border-spacing: 0;
  empty-cells: show;
  border: none;
  border-top: 2px solid $table-border-color;
  background: #fff;
  
  .ltie8 & { border-collapse: collapse; }
  
  th, td {
    padding: 10px;
		text-align: left;
  }
  
  //
  // Alignment changes for markdown extra tables
  // 
  [align="right"] { text-align: right; }
  
  [align="center"] { text-align: center; }
  
  th {
    font-weight: bold;
    vertical-align: bottom;
    background-color: $table-header-bg;
  }
  
  th + th {
    border-left: 1px solid $table-border-color;
  }
  
  td {
    vertical-align: top;
  }
  
  tbody tr + tr td {
    border-top: 1px solid $table-border-color;
  }
}