.cf { @extend %clearfix; }
.left { @extend %left; }
.right { @extend %right; }
.pos-rel { @extend %pos-rel; }
.pos-abs { @extend %pos-abs; }
.prevent-flicker { @include prevent-flicker; }


//
// JavaScript-driven visibility
//
.js .nojs-only,
.mustard .nomustard-only {
	display: none !important;
}

.no-js .js-only,
.no-js .mustard-only,
.no-mustard .mustard-only {
	display: none !important;
}

//
// Quickie remove underline and inline images for an image in a link
//

.image-link {
  text-decoration: none;
  > img {
    display: block;
  }
}

/*** 
  * Fluid video/embed wrappers
  * 
  * adapted from http://www.netmagazine.com/tutorials/create-fluid-width-videos
  * and http://alistapart.com/article/creating-intrinsic-ratios-for-videol
  */
.fluid-video { 
  position: relative;
  height: 0;
  
  // Height determined entirely by padding
  // Set a 16:9 aspect ratio
  padding-bottom: 56.25%; 
  // plus a little more for video player chrome
  padding-top: 25px; 
  
  // make video fill the wrapper
  > iframe {
    position: absolute;
		top: 0;
		left: 0;
    // override height/width on the element
		width: 100% !important;
		height: 100% !important;
  }
}
