/*
 * The ever-important clearfix
 */
%clearfix {
  @include clearfix;
}

/*
 * Floats
 */
%left { float:left; }
%right { float: right; }


/*
 * Positioning
 */
%pos-rel { position: relative; }
%pos-abs { position: absolute; }

/*
 * Reset UL/OLs
 */
%list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*
 * Prevent flicker on transitions on mobile webkit
 */
@mixin prevent-flicker {
  -webkit-backface-visibility: hidden;
}
%prevent-flicker {
  @include prevent-flicker;
}

