// Settings
@import 'settings';

@import 'imports';

@import 'utility_classes';

// Reset
@import 'reset';

@import 'grid';
@import 'media';
@import 'sticky_footer';

html {
	// set a base of 100%/16px for simpleton browsers (+ knee-up)
	font-size: 100%;
	//‑webkit‑text‑size‑adjust: 100%;
	
	@include respond-to(workstation-up) {
	  font-size: $font-size-l/$font-size-m * 100%;
	}
}

.sticky-footer-body {
  // Because this is the element that's growing, put the main content bg color here
  background-color: #666;  
}


//
// Header / Navigation
//
@import 'navigation';


//
// Cards
//
@import 'card';


//
// Tables
//


//
// Notices
//
@import 'notice';

//
// Body Copy
//
@import 'copy';

a {
  color: $base-color;
}